body {
  background-color: black;
}

.back-height {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.center-text {
  text-align: center;
}

.center-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

.center-box h1 {
  color: white;
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.center-box span {
  background-color: green;
  font-weight: 600;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}
.center-box p {
  margin: 0;
  font-weight: 700;
  margin-top: 20px;
  color: white;
  font-size: 12px;

  text-transform: uppercase;
  letter-spacing: 2px;
}
